*{
    padding: 0px;
    margin:0px;
    text-decoration: none;
}
#main{
    display: grid;
    grid-template-columns: repeat(3,400px);
    text-align: center;
    padding-left: 50px;
}
.product{
    margin-top: 20px;
    border:2px solid;
    border-radius: 25px;
    margin-left: 50px;
    text-align: center;
    justify-content: center;
}
.name{
    font-weight: bolder;
    font-size: 20px;
}
.price{
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
img{
    margin-top: 20px;
}
